/*返回顶部*/
.fixed_fanhui{
	width:12%;
	height: auto;	
	background-color:#1B1B1B;
	position: fixed;
	bottom: 50px;right: 0px;
	display: none;
}
.fixed_fanhui img{
	width: 100%;
	height: auto;
}
.information_bookcard {
	margin: 2px 0;
}

.information_bookcard .left{
	width:60% ;
}
.information_bookcard img{
	width: 38% !important;
}
/*大图模式*/
.information_bookcard2{
	width: 100%;
	height: auto;
	margin: 5px 0px;
	background-color: white;
	box-sizing: border-box;
	border: 10px solid #f9f9f9;
	box-shadow: 1px 1px 15px gainsboro;
	float: left;
}
.information_bookcard2 a{
	color: black;
	font-size: 1.3em;
	padding: 5px 10px;
	/*font-weight: bold;*/
	float: left;
}
.information_bookcard2 img{
	width: 100%;
	height: auto;
	margin-bottom:5px;
}
